<div class="container pt-3">

    <div class="row" *ngIf="failedToLoad">
        <h3>Failed to Load Quizzes</h3>
    </div>

    <div class="row p-1" *ngIf="!failedToLoad">
        <div class="col-md-4 mb-3">
            <button (click)="addQuiz()" class="btn btn-outline-success mb-3">
                Add Quiz
            </button>
            <div class="list-group">
                <button 
                    *ngFor="let quiz of quizzes" 
                    (click)="selectQuiz(quiz)" 
                    [class.active]="quiz == selectedQuiz"
                    class="list-group-item d-flex justify-content-between align-items-center">
                    {{quiz.name}}
                    <small 
                        class="badge" 
                        [class.badge-success]="quiz.questionCount > 0"
                        [class.badge-danger]="quiz.questionCount == 0"
                    >
                            {{quiz.questionCount}} question(s)
                    <ng-template #noQuestions></ng-template>
                    </small>
                </button>
            </div>
        </div>

        <div class="col-md-8" *ngIf="selectedQuiz == undefined">
            <div class="card">
                    <div class="card-header bg-light">No Quiz Selected</div>
                <div class="card-body">
                    <p class="card-text">Please select a quiz...</p>
                </div>
            </div>
        </div>

        <div class="col-md-8" *ngIf="selectedQuiz != undefined">
            <button class="btn btn-outline-dark mb-3">
                Save Quizzes
            </button>

            <button class="btn btn-link mb-3">
                Cancel
            </button>

            <div class="card mb-3">
                <div class="card-header">General</div>
                <div class="card-body">
                    <input type="text" [(ngModel)]="selectedQuiz.name" class="form-control" />
                </div>
            </div>

            <div class="card mb-3">
                <div class="card-header">Questions</div>
                <div class="card-body p-3 d-flex justify-content-between">
                    <input #AddQuestionText type="text" class="form-control" placeholder="Add Question" />
                    <button 
                        (click)="addQuestion(AddQuestionText)" 
                        style="height: 100%; width: auto; font-size: xx-large; background: none; border: none;" 
                        class="fa fa-plus-square text-success m-1">
                    </button>
                </div>
                <div class="card-body" *ngIf="selectedQuiz.questions.length > 0; else noQuestions">
                    <div class="card-text my-3 d-flex justify-content-between" *ngFor="let question of questions">
                        <input type="text" [value]="question" class="form-control" />
                        <button 
                            style="height: 100%; width: auto; font-size: xx-large; background: none; border: none;" 
                            class="fa fa-trash text-danger m-1">
                        </button>
                    </div>                    
                </div>
                <ng-template #noQuestions class="card-body p-1">
                    <div class="card-text text-center text-muted">
                        <p>No Questions</p>
                    </div>
                </ng-template>

            </div>

            <div class="card mb-3">
                <div class="card-header">Other</div>
                <div class="card-body">Coming Soon</div>
            </div>
        </div>
    </div>

    

</div>
