<div class="container pt-3">

    <div class="row p-1">
        <div class="col-md-4">
            <button class="btn btn-outline-success mb-3">
                Add Quiz
            </button>
            <div class="list-group">
                <div *ngFor="let quiz of quizzes" 
                    (click)="selectQuiz(quiz)" 
                    [class.active]="quiz == selectedQuiz"
                    class="list-group-item d-flex justify-content-between align-items-center">
                    {{quiz.name}}
                    <small class="badge badge-success">
                            {{quiz.questionCount}} question(s)
                    </small>
                </div>
            </div>
        </div>

        <div class="col-md-8" *ngIf="selectedQuiz == undefined">
            <div class="card">
                    <div class="card-header bg-light">No Quiz Selected</div>
                <div class="card-body">
                    <p class="card-text">Please select a quiz...</p>
                </div>
            </div>
        </div>

        <div class="col-md-8" *ngIf="selectedQuiz != undefined">
            <button class="btn btn-outline-dark mb-3">
                Save Quizzes
            </button>

            <button class="btn btn-link mb-3">
                Cancel
            </button>

            <div class="card mb-3">
                <div class="card-header">General</div>
                <div class="card-body">{{ selectedQuiz.name }}</div>
            </div>

            <div class="card mb-3">
                <div class="card-header">Questions</div>
                <div class="card-body">Coming Soon</div>
            </div>

            <div class="card mb-3">
                <div class="card-header">Other</div>
                <div class="card-body">Coming Soon</div>
            </div>
        </div>
    </div>

    

</div>
